@charset "utf-8";
/* CSS Document */

body
{

	color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: auto;
	background-attachment: fixed;
}

#logo
{
	width: 1000px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 70px;
	background-color: #8C1717;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

	color: #FFFFFF
}

.menu
{
	background-color: #5188AB;
	color: #000000;
	float: left;
	margin: 5px;
	height: auto;
	width: auto;
	font-size: 25px;
}

#serwer
{
	background-color: #FFFFFF;
	color: #000000;
	float: left;
	margin: 5px;
	height: auto;
	width: 230px;
	text-align: center;
}

#receptury
{
	background-color: #DB2C2C;
	color: #FFFFFF;
	float: left;
	margin: 5px;
	height: auto;
	width: 240px;
	text-align: center;
}

#bany
{
	background-color: #DB2C2C;
	color: #FFFFFF;
	float: left;
	margin: 5px;
	height: auto;
	width: 240px;
	text-align: center;
}


#content
{
	background-color: #00c853;
	color: #FFFFFF;
	width: 700px;
	margin-right: 20px;
	height: auto;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}
#content1
{
	background-color: #00c853;
	color: #FFFFFF;
	width: 700px;
	margin-right: 20px;
	height: auto;
	margin: 10px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
#tile1
{
	font-size: 23px;
	background-color: #FFFFFF;
	color: #000000;
	width: 660px;
	height: auto;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	padding: 15px;
}

#tile2
{
	font-size: 23px;
	background-color: #FFFFFF;
	color: #000000;
	width: 690px;
	height: auto;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

#footer
{
	background-color: #555554;
	color: #ffffff;
	width: 1000px;
	height: 25px;
	text-align: center;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

a.tilelink
{
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	width: 240px;
	height: 29px;
	text-align: center;
}
a.sociallink
{
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 22px;
}

.serwer
{
	margin: 5px;
	width: 240px;
	height: 29px;
	background-color: #616161;
	float: left;
}

.serwer:hover
{
	background-color:#3ebd4c;
}
.receptury
{
	margin: 5px;
	width: 240px;
	height: 29px;
	background-color: #616161;
	float: left;
}

.receptury:hover
{
	background-color:#3ebd4c;
}
.bany
{
	margin: 5px;
	width: 240px;
	height: 29px;
	background-color: #616161;
	float: left;
}

.bany:hover
{
	background-color:#3ebd4c;
}
.kontakt
{
	margin: 5px;
	width: 230px;
	height: 29px;
	background-color: #616161;
	float: left;
}

.kontakt:hover
{
	background-color:#3ebd4c;
}

a.logolink
{
	color: #FFFFFF;
	text-align: center;
	width: 1000px;
	height: 235px;
	text-decoration: none;
}
